html, body {
    font-family:  courier new;

    /*font-family: MyriadPro;*/
}

.content {
    margin-bottom: 20px;

}

p {
	padding-top: 10px;
}

header {
    padding-top: 50px;
}
.red {
    color: red;
}

.content > img {
    padding-top: 100px;
}

.side {
    color: gray;
}
